body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#242f51;
    --btn-color: #3900F5;
}
.primary__color{
    color: var(--primary-color);
}
.secondary__color{
    color: var(--btn-color);
}
/* .hover_color{
    color: #fcae61;
} */
.secondary__color:hover{
    color: #fcae61;
}
/*==========================
 header css start here
 =============================*/
 header{
    height: 75px;
  }
  
header .navbar-brand{
    font-size: 30px !important;
    font-weight: 800;
    color: #fcae61 !important;

}
header .navbar-brand span{
    color: var(--primary-color) !important;
}

header .nav-link{
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1.3rem !important;
}
header .nav-link:hover,header .nav-link.active {
    color: #fcae61 !important;
}

/*==========================
 header css end here
 =============================*/

/*==========================
 Hero Section css start here
=============================*/
#hero{
    padding: 50px;
}
#hero .sub__title{
background-color: #E1E8EB;
/* padding: 5px 5px; */
border-radius: 5px;
font-size: 18px;
display: flex;
align-items: center;
gap: 5px;
color: var(--primary-color);

}
#hero .custom__check{
    color: #fcae61;
    font-size: 25px;
    padding: 4px;
}
#hero .title{
font-size: 60px;
color: var(--primary-color);
font-weight: 400;

}

/*==========================
 Hero Section css end here
 =============================*/